@import "../../../../styles.scss";

.dropdown-item{
    color: #792C13 !important;
}
.aroundButton{
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
    margin-right: 20px;
}
.dropdown{
    color: #94B4BE !important;
}
.btn-group{
margin-left: 50px;
margin-bottom: 20px;
}