.dropdown-menu a {
  color: #792C13;

  &:active {
    color: white;
  }
}

.aroundButton{
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
    margin-right: 20px;
}

.dropdown {
    color: #94B4BE !important;
}

#botaoBuscar {
  margin-left: 50px;
}
