<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista DropDown</title>
</head>
<body>   
<div>
    <h2 class="h2-titulo">FAQ</h2>
    <div>
        <section>
            <details>
                <summary> Como fazer a solicitação de adoção? </summary>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia odit fugiat officia veniam quasi doloremque unde suscipit error.</P>
            </details>
    
            <details>
                <summary> Como fazer a solicitação de adoção? </summary>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia odit fugiat officia veniam quasi doloremque unde suscipit error.</P>
            </details>
    
            <details>
                <summary> Como fazer a solicitação de adoção? </summary>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia odit fugiat officia veniam quasi doloremque unde suscipit error.</P>
            </details>
    
            <details>
                <summary> Como fazer a solicitação de adoção? </summary>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia odit fugiat officia veniam quasi doloremque unde suscipit error.</P>
            </details>
    
            <details>
                <summary>Como fazer a solicitação de adoção? </summary>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia odit fugiat officia veniam quasi doloremque unde suscipit error.</P>
            </details>
        </section>
    </div>
</div>
            
</body>
</html>