<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Contato </title>
</head>
<body>
    <div>
        <h2 class="h2-titulo">Quero Doar</h2>
    </div>
        <p> A cada &nbsp; <b>25 reais</b>, você ajuda 5 doguinhos ou gatinhos.</p>
        <p>Para doar, você pode fazer uma transferência bancária ou PIX:</p>
         <p> <b>PIX</b></p>  
        <p>e-mail: contato@amigonaosecompra.com.br ou CNPJ: 298.551.6725/0001-0</p>
        <p><b>TED ou depósito em conta </b></p>
        <p>Banco do Brasil</p>
        <p>Agência: 313418-6 </p>
        <p>Conta-corrente: 4223305-x </p>
       <p> Associação Amigo Não se Compra </p>
        <p>CNPJ: 298.551.6725/0001-0.</p>

</body>
</html>

