<section class="principal">
    <section class="user-box">
        <div class="card text-white bg-primary mb-3 " style="max-width: 20rem;">
            <div class="card-header"><h2>Bem vindo, Claudio!!</h2></div>
            <div class="card-body">
              <h5 class="card-title">
                <li href="#">Dados pessoais</li>
                <li href="#">Cadastrar animal</li>
                <li href="#">Aprovar doaçoes</li>
                <p href="#" id="quit-bottom">Sair</p>
             </h5>
            </div>
          </div>
    </section>
    <div class="container">
        <div class="title">
            <b>
                Minhas Adoções
            </b>
        </div>
        <div class="first-box">
            <div>
                <img id="animal" src="../../assets/img/Doguinho.png" />    
            </div>
            <div class="informacao">
                <p id="nome-animal"><b>Rodolfo</b></p>
                <p><b>Status:</b> Em Andamento</p>
                <p><b>Raça:</b> indefinida</p>
                <p><b>Espécie:</b> cachorro</p>
                <a id="cancel-bottom" href="#"><b>Cancelar processo</b></a>
            </div>
        </div>
        <div class="second-box">
            <div>
                <img id="animal" src="../../assets/img/Gatinho.png" />    
            </div>
            <div class="informacao">
                <p id="nome-animal"><b>Francisca</b></p>
                <p><b>Status:</b> Em Andamento</p>
                <p><b>Raça:</b> indefinida</p>
                <p><b>Espécie:</b> gato</p>
                <a id="cancel-bottom" href="#"><b>Cancelar processo</b></a>
            </div>
        </div>
    </div> 
</section>
 