
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Quem Somos </title>
</head>
<body>
    <div>
        <h2 class="h2-titulo">Quem Somos</h2>
    </div>
        <p> AdoPet é uma plataforma desenvolvida especialmente para ONGS de animais, as quais cuidam do processo de adoção por pessoas que prometem oferecer a esses animais toda a segurança e proteção que precisam. Existem muitos abrigos que estão lotados de animais e a procura física por eles não é o suficiente para dar conta da alta quantidade disponível. Assim, por mais que eles estejam em segurança, acabam segurando um espaço que poderia ser usado para atender um animal ferido, logo, com a plataforma disponível para essas ONGS anunciarem os animais disponíveis para adoção, esperamos que o alcance de pessoas seja cada vez maior e que esses bichinhos encontrem um lar.</p>

</body>
</html>

