
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Quem Somos </title>
</head>
<body>
    <div>
        <h2 class="h2-titulo">Quem Somos</h2>
    </div>
        <p> O Projeto Adoção Pet é uma plataforma web de adoção que esta sendo desenvolvida dentro do curso de Desenvolvimento 
            Web Full Stack do projeto Transforme-se, oferecido pela Digital House em parceria com a Serasa Exeperian.</p>

</body>
</html>

