<div class="tudo">
<div class="card text-white bg-primary mb-3 " style="max-width: 20rem;">
  <div class="card-header"><h2>Bem Vindo {{this.usuario.nome}}!!</h2></div>
  <div class="card-body">
    <h5 class="card-title">
      <p (click)="alteraMenu('Dados Pessoais')"><a>Meus dados pessoais</a></p>
      <p *ngIf="this.permissoes.indexOf('ADMINISTRADOR') < 0" (click)="alteraMenu('Minhas adoções')"><a>Minhas adoções</a></p>

      <p *ngIf="this.permissoes.indexOf('ADMINISTRADOR') >= 0" (click)="alteraMenu('Cadastrar Animal')"><a>Cadastrar um animal</a></p>
      <p *ngIf="this.permissoes.indexOf('ADMINISTRADOR') >= 0" (click)="alteraMenu('Minhas adoções')"><a>Adoções</a></p>
      <p (click)="logout()" class="sair"><a><u>Sair</u></a></p>
   </h5>
  </div>
</div>

<div *ngIf="opcaoMenu=='Dados Pessoais'" class="dados-pessoais">
<h2>Dados Pessoais</h2>
    <p><b>Nome:</b> {{this.usuario.nome}}</p>
    <p><b>Telefone:</b> {{this.usuario.telefone}}</p>
    <p><b>Data de Nascimento:</b> {{this.usuario.dataNascimento}}</p>
    <p><b>E-mail:</b> {{this.usuario.email}}</p>
    <p><b>Rg:</b> {{this.usuario.rg}}</p>
    <p><b>CPF:</b> {{this.usuario.cpf}}</p>
    <p><b>Logradouro:</b>  {{this.usuario.endereco.logradouro}}</p>
    <p><b>CEP:</b> {{this.usuario.endereco.cep}}</p>
    <p><b>Localidade:</b> {{this.usuario.endereco.localidade}}</p>
    <p><b>UF:</b> {{this.usuario.endereco.uf}}</p>
    <p><b>Número:</b> {{this.usuario.endereco.numero}}</p>
    <p><b>Complemento:</b>  {{this.usuario.endereco.complemento}}</p>
    <p><b>Referência:</b> {{this.usuario.endereco.referencia}}</p>

    <a><u><b>Editar</b></u></a>

  </div>

  <div *ngIf="opcaoMenu=='Minhas adoções'">
    <app-minhas-adocoes></app-minhas-adocoes>

  </div>

  <app-cadastro-animal  *ngIf="opcaoMenu=='Cadastrar Animal'"></app-cadastro-animal>
  </div>
