<div class="card text-white bg-primary mb-3 " style="max-width: 20rem;">
  <div class="card-header"><h2>Ola Gustavo!!</h2></div>
  <div class="card-body">
    <h5 class="card-title">
      <p><a>Meus dados pessoais</a></p>
      <p><a>Minhas adoções</a></p>
      <p><a>Sair</a></p>
   </h5>
  </div>
</div>

<div class="dados-pesoais"></div>
<h2>Dados Pessoais</h2>
<p><b>Nome:</b> Gustavo Pires de Souza</p>
    <p><b>Telefone:</b> (12) 8144-2788</p>
    <p><b>Data de Nascimento:</b> 17/08/2022</p>
    <p><b>E-mail:</b> gupis@gmail.com.br</p>
    <p><b>Rg:</b> 65 521 052 8</p>
    <p><b>CPF:</b> 456 852 123 08</p>
    <p><b>Logradouro:</b> Rua do Java</p>
    <p><b>CEP:</b> 03547 096</p>
    <p><b>Localidade:</b> São Paulo</p>
    <p><b>UF:</b> Sp</p>
    <p><b>Número:</b> 2544</p>
    <p><b>Complemento:</b>  Apt 789 - Bloco 3</p>
    <p><b>Referência:</b> Próxima ao mercado Estrela</p>
