<header>
<nav class="navbar navbar-expand-lg navbar-light">
    <img routerLink="/" class="logo" id="logo" src="../../assets/img/logo.png" />
      <div class="collapse navbar-collapse" id="">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/quem-somos">Quem somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quero-doar">Quero doar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contato">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/faq">FAQ</a>
          </li>
        </ul>
        <button routerLink="/login" type="button" class="btn btn-outline-danger">Entrar</button>
        <button routerLink="/lista-animais" type="button" class="btn btn-primary">Quero Adotar</button>
      </div>
    </nav>
  </header>

  
