.img-detail {
  border-radius: 20px;
  border: 2px solid #f4b333;
  max-width: 750px;
  max-height: 650px;
  width: 100%;
  margin-bottom: 100px;
  margin-right: 30px;
}

.btn {
  width: 100%;
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 50px;
}

.description {
  color: black;
  font-size: 2em;
}

.name {
  font-size: 50px;
  color: #f4b333;
}
