<app-filtro></app-filtro>

<div class="row">
  <div class="col-5">
    <img
      class="img-detail"
      src="../assets/img/animais/{{animal.nome}}.jpg"
      alt="Foto do animal"
    />
  </div>
  <div class="col-7">
    <h1 class="name">{{ animal.nome }}</h1>
    <p class="description">
      <b>Raça:</b> {{ animal.raca }} <br />
      <b>Espécie:</b> {{ animal.especie }} <br />
      <b>Descrição:</b> {{ animal.descricao }} <br />
      <b>Porte:</b> {{ animal.porte }} <br />
      <b>Idade:</b> {{ animal.idade }} <br />
      <b>Sexo:</b> {{ animal.sexo }} <br />
      <b>Informações Adicionais:</b> {{ animal.infAdicionais }} <br />
    </p>
    <button type="button" routerLink="/login" class="btn btn-primary">Quero adotar!</button>
  </div>
</div>
