.img-detail{
    border-radius: 20px;
    border: 2px solid #F4B333;
    max-width:750px;
    max-height:650px;
    width: auto;
    height: auto;
    margin-right: 30px;
    
}
.btn{
    width: 35%;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
 
    
}
.description{
    color: black;
    margin-left: 100px;
    font-size: 30px;

}
.name{
    font-size: 50px;
    color: #F4B333
    
}