<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Contato </title>
</head>
<body>
      
       <img class="img-detail" src="assets\img\rodolfo.png" alt="caramelo" style="float: left" /> 
    
    
    
    <div>   
                 <h1 class="name">Rodolfo</h1>
    <p class="description"> 
            
            <b>Raça:</b> SRD <br/> 
            <b>Espécie:</b> Cachorro (<i>Canis familiaris</i>) <br/> 
            <b>Descrição:</b> Cãozinho de cor caramelo, pelagem curta <br/>
            <b>Porte:</b> Médio <br/>
            <b>Idade:</b> 3 meses <br/>
            <b>Sexo:</b> Macho <br/>
            <b>Informações Adicionais:</b> Vacinado e vermifugado <br/>

    </p>
   
        <div>
              <button type="submit" class="btn btn-primary"> <b>Quero Adotar!</b> </button>
            </div>
        </div> 
     
</body>
</html>
